<nz-modal [nzVisible]="true" nzTitle="Register" (nzOnCancel)="handleCancel()" (nzOnOk)="handleRegister()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="registerForm">
      <!-- Username -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="username">Username</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please input your username">
          <input nz-input formControlName="username" id="username" />
        </nz-form-control>
      </nz-form-item>

      <!-- Email -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="email">Email</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please input a valid email">
          <input nz-input formControlName="email" id="email" />
        </nz-form-control>
      </nz-form-item>

      <!-- Password -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="password">Password</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please input your password">
          <input nz-input type="password" formControlName="password" id="password" />
        </nz-form-control>
      </nz-form-item>

      <!-- Confirm Password -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="confirmPassword">Confirm Password</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please confirm your password">
          <input nz-input type="password" formControlName="confirmPassword" id="confirmPassword" />
        </nz-form-control>
      </nz-form-item>

      <!-- First Name -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="firstName">First Name</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please input your first name">
          <input nz-input formControlName="firstName" id="firstName" />
        </nz-form-control>
      </nz-form-item>

      <!-- Last Name -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="lastName">Last Name</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please input your last name">
          <input nz-input formControlName="lastName" id="lastName" />
        </nz-form-control>
      </nz-form-item>

      <!-- Date of Birth -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="dateOfBirth">Date of Birth</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please select your date of birth">
          <nz-date-picker formControlName="dateOfBirth" nzFormat="yyyy-MM-dd"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <!-- EMSO -->
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzRequired nzFor="emso">EMSO</nz-form-label>
        <nz-form-control [nzSm]="14" nzErrorTip="Please input your EMSO">
          <input nz-input formControlName="emso" id="emso" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
