<nz-footer class="py-8 text-center text-white bg-black" >
  <div nz-row class="container mx-auto">
      <div nz-col nzSpan="12" class="mb-6">
          <h3 nz-title level="3" class="mb-4 !text-white">Veterinary Institute VZ</h3>
          <p class="mb-2">123 Vet Street, Petville, PA 12345</p>
          <p class="mb-2">Email: contact@veterinaryvz.com</p>
          <p>Phone: (123) 456-7890</p>
      </div>
      <div nz-col nzSpan="12">
          <nz-list nzMode="horizontal">
              <nz-list-item><a href="#privacy" class="text-white hover:text-gray-400">Privacy Policy</a></nz-list-item>
              <nz-list-item><a href="#terms" class="text-white hover:text-gray-400">Terms of Use</a></nz-list-item>
              <nz-list-item><a href="#disclaimer" class="text-white hover:text-gray-400">Legal Disclaimer</a></nz-list-item>
              <nz-list-item><a href="#contact" class="text-white hover:text-gray-400">Contact Us</a></nz-list-item>
              <nz-list-item><a href="#about" class="text-white hover:text-gray-400">About Us</a></nz-list-item>
          </nz-list>
      </div>
  </div>
</nz-footer>
