<nz-footer class="py-8 text-center text-white bg-black">
  <div nz-row class="container mx-auto">
    <div nz-col nzSpan="12" class="mb-6">
      <h3 nz-title level="3" class="mb-4 !text-white">
        Veterinary Institute VZ
      </h3>
      <p class="mb-2">123 Vet Street, Petville, PA 12345</p>
      <p class="mb-2">Email: contact@veterinaryvz.com</p>
      <p>Phone: (123) 456-7890</p>
    </div>
    <div nz-row nzSpan="24" class="flex justify-center gap-8">
      <div nz-col class="text-white hover:text-gray-400">Privacy Policy</div>
      <div nz-col class="text-white hover:text-gray-400">Terms of Us</div>
      <div nz-col class="text-white hover:text-gray-400">Legal Disclaimer</div>
      <div nz-col class="text-white hover:text-gray-400">Contact Us</div>
      <div nz-col class="text-white hover:text-gray-400">About Us</div>
    </div>
  </div>
</nz-footer>
