/* .custom-header {
  background: linear-gradient(to right, #667eea, #764ba2);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  height: 140px;
  padding: 0 1rem;
  display: flex;
}

.custom-cta-button {
  transition: all 0.3s ease-in-out;
}

.custom-cta-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.2);
}

* {
  outline: 1px solid red;
} */

nz-layout {
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%; */
}

nz-header {
  /* position: fixed; */
  /* width: 100%; */
  /* z-index: 1000; */
  /* top: 0; */
}
nz-content {
  /* flex: 1; */
  /* margin-top: 64px; */
}

nz-footer {
  text-align: center;
}
