<div
  class="w-full p-8 space-y-6 bg-white rounded-lg shadow-lg"
>
  <h2 class="text-3xl font-bold text-center text-gray-800">
    Login to Your Account
  </h2>
  <form class="space-y-4">
    <div>
      <label for="email" class="block text-sm font-semibold text-gray-700"
        >Email</label
      >
      <input
        type="email"
        id="email"
        class="w-full px-4 py-2 mt-1 border rounded-md focus:border-purple-500 focus:ring focus:ring-purple-200"
        placeholder="Enter your email"
        required
      />
    </div>
    <div>
      <label for="password" class="block text-sm font-semibold text-gray-700"
        >Password</label
      >
      <input
        type="password"
        id="password"
        class="w-full px-4 py-2 mt-1 border rounded-md focus:border-purple-500 focus:ring focus:ring-purple-200"
        placeholder="Enter your password"
        required
      />
      <div class="flex justify-end mt-1">
        <a href="#" class="text-xs hover:underline"
          >Forgot Password?</a
        >
      </div>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input
          id="remember-me"
          type="checkbox"
          class="w-4 h-4 border-gray-300 rounded focus:ring-purple-500"
        />
        <label for="remember-me" class="block ml-2 text-sm text-gray-800"
          >Remember Me</label
        >
      </div>
      <a href="#" class="text-sm hover:underline">Sign Up</a>
    </div><button nz-button nzType="primary" [routerLink]="['/login']" class="mr-4" nzBlock="true">Login</button>
  </form>
  <div class="flex items-center justify-between mt-4">
    <hr class="w-full" />
    <span class="p-2 text-xs text-gray-400 uppercase">or login with</span>
    <hr class="w-full" />
  </div>
  <div>
    <button nz-button nzType="primary" class="mb-2 mr-4" nzBlock="true">Login with Google</button>
    <button nz-button nzType="primary" class="mr-4 bg-blue-700 hover:bg-blue-900" nzBlock="true">Login with Facebook</button>
  </div>
  <p class="text-xs text-center text-gray-400">Your data is safe with us</p>
</div>
